// function int sum (int a, int b, int c)
{
    var int result;
    let result = a+b+c;
    return result;
}

// and then call with: let x = sum(y,z,5)

function sum 1
    push constant 0
    pop local 0

    push argument 0 
    push argument 1
    add
    push argument 2
    add 
    pop local 0
    push local 0 
    return

