// Contains a function Fib.fib that calculates and returns the nth Fibonacci number recursively
// n is supplied as an argument

// Put your code here.

function Fib.fib 1
push constant 0
push argument 0
eq 
if-goto POPZERO

push constant 1
push argument 0
eq
if-goto POPONE

push argument 0
push constant 1
sub
call Fib.fib 1
push argument 0
push constant 2
sub
call Fib.fib 1
add
return

label POPZERO
push constant 0
return

label POPONE
push constant 1
return
